.bukti-sebelum {
    border-radius: 60px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 97px 75px 67px;
    width: 1000px;
    box-sizing: border-box;
  }
  .bukti-sebelum .barang-sebelum-digunakan {
    margin: 0 0 76px 11.1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--heading-2-bold-font-family, 'Poppins');
    font-weight: var(--heading-2-bold-font-weight, 700);
    font-size: var(--heading-2-bold-font-size, 36px);
    color: var(--foundation-blue-normal, #003F62);
  }
  .bukti-sebelum .camera {
    margin: 0 0 11.4px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 64px;
    height: 44.3px;
    box-sizing: border-box;
  }
  .bukti-sebelum .camera-video {
    margin-bottom: 9.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 69px;
    height: 40.6px;
    box-sizing: border-box;
  }
  .bukti-sebelum .unggah-foto {
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .bukti-sebelum .unggah-video {
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .bukti-sebelum .primary-button {
    border-radius: 10px;
    background: var(--foundation-yellow-normal, #EDA415);
    margin-left: 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0.6px 10px 0;
    width: 347px;
    box-sizing: border-box;
  }
  .bukti-sebelum .komentar {
    border-radius: 10px;
    border: 1px solid #1B3851;
    position: relative;
    margin-bottom: 46px;
    padding: 19px 25.3px 207px 25.3px;
    width: 800px;
    box-sizing: border-box;
  }
  .bukti-sebelum .container {
    margin: 0 0 67px 19px;
    display: flex;
    flex-direction: row;
    width: 613px;
    box-sizing: border-box;
  }
  .bukti-sebelum .container-1 {
    border-radius: 40px;
    border: 1px dashed #001622;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34.2px 0 17px 0;
    width: 297px;
    box-sizing: border-box;
  }
  .bukti-sebelum .container-2 {
    border-radius: 40px;
    border: 1px dashed #001622;
    position: relative;
    margin-right: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28.4px 0 17px 0;
    width: 297px;
    box-sizing: border-box;
  }
  .bukti-sebelum .vector {
    width: 64px;
    height: 44.3px;
  }
  .bukti-sebelum .camera-video-1 {
    width: 69px;
    height: 40.6px;
  }
  .bukti-sebelum .buka-toko {
    overflow-wrap: break-word;
    font-family: var(--heading-02-font-family, 'Poppins');
    font-weight: var(--heading-02-font-weight, 700);
    font-size: var(--heading-02-font-size, 16px);
    color: var(--foundation-primary-normal-1, #FEFEFE);
  }
  .bukti-sebelum .tulis-komentar {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive, #727272);
  }