body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.kerusakan {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 0 190px 0.5px;
    width: 1440px;
    box-sizing: border-box;
  }
  .kerusakan .group-11125 {
    position: relative;
    margin: 7px 79.3px 0 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .kerusakan .ellipse-4 {
    border-radius: 44px;
    background: url('img/User.png') 50% / cover no-repeat;
    margin-right: 22px;
    width: 88px;
    height: 88px;
  }
  .kerusakan .redha-rizky {
    position: relative;
    margin: 15px 0 34px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--heading-3-semi-bold-font-family, 'Poppins');
    font-weight: var(--heading-3-semi-bold-font-weight, 600);
    font-size: var(--heading-3-semi-bold-font-size, 26px);
    color: #000000;
  }
  .kerusakan .aktif-5-menit-lalu {
    position: absolute;
    right: 9.6px;
    bottom: 11px;
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: #000000;
  }
  .kerusakan .rectangle-434 {
    border-radius: 15px;
    background: var(--foundation-yellow-normal, #EDA415);
    width: 140px;
    height: 5px;
  }
  .kerusakan .navbar-revisi {
    position: relative;
    margin-bottom: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25.5px 32.7px 25.5px 0;
    width: 1440px;
    box-sizing: border-box;
  }
  .kerusakan .textlabel-bank-account-number {
    margin: 0 39.5px 13px 39.5px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .textlabel-bank-account-number {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.333;
    color: #FF0000;
  }
  .kerusakan .textlabel-account-holders-name {
    margin: 0 39.5px 15px 39.5px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .textlabel-account-holders-name {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.333;
    color: #FF0000;
  }
  .kerusakan .textlabel-ifsc-code {
    margin-bottom: 18px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .textlabel-ifsc-code {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.333;
    color: #FF0000;
  }
  .kerusakan .textlabel-ifsc-code-1 {
    margin: 0 33.5px 20px 33.5px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: #000000;
  }
  .textlabel-ifsc-code-1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.333;
    color: #FF0000;
  }
  .kerusakan .primary-button {
    border-radius: 10px;
    background: var(--foundation-yellow-normal, #EDA415);
    margin: 0 78.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .kerusakan .nomor-telepon {
    border-radius: 10px;
    border: 1px solid #002F4A;
    background: #FEFEFE;
    position: relative;
    margin: 0 39.5px 32px 39.5px;
    align-self: flex-start;
    padding: 15px 23px -10px 23px;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
  }
  .kerusakan .alamat {
    border-radius: 10px;
    border: 1px solid #002F4A;
    background: #FEFEFE;
    position: relative;
    margin: 0 39.5px 66px 39.5px;
    align-self: flex-start;
    padding: 14px 17px 13px 17px;
    width: 300px;
    box-sizing: border-box;
  }
  .kerusakan .nik {
    border-radius: 10px;
    border: 1px solid #002F4A;
    background: #FEFEFE;
    position: relative;
    margin: 0 39.5px 27px 39.5px;
    align-self: flex-start;
    padding: 15px 23px 1px 23px;
    width: 300px;
    box-sizing: border-box;
  }
  .kerusakan .email {
    border-radius: 10px;
    border: 1px solid #002F4A;
    background: #FEFEFE;
    position: relative;
    padding: 15px 23px 12px 23px;
    width: 300px;
    box-sizing: border-box;
  }
  .kerusakan .tidak-ada-pesanan-yang-dilaporkan {
    margin: 15px 0 45px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-blue-darkactive, #666E73);
  }
  .kerusakan .frame-11069 {
    margin: 0 21.3px 9px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 999.7px;
    box-sizing: border-box;
  }
  .kerusakan .belum-bayar {
    margin-right: 13.5px;
    width: 169.5px;
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .sedang-diproses {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .digunakan {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .pengembalian {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .selesai {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .kerusakan-1 {
    overflow-wrap: break-word;
    font-family: var(--body-18-rg-font-family, 'Poppins');
    font-weight: var(--body-18-rg-font-weight, 400);
    font-size: var(--body-18-rg-font-size, 18px);
    color: var(--foundation-primary-darkactive-1, #050508);
  }
  .kerusakan .container {
    margin: 0 39.5px 30px 39.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 1029.1px;
    box-sizing: border-box;
  }
  .kerusakan .container-1 {
    position: relative;
    margin: 8.1px 0 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 278.1px;
    height: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .container-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 262.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .container-3 {
    margin: 0 0 61px 35.5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .container-4 {
    display: flex;
    flex-direction: column;
    width: 305px;
    box-sizing: border-box;
  }
  .kerusakan .container-5 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    position: relative;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 10px 0 25px;
    width: 1056px;
    height: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .nav-color {
    background: var(--foundation-blue-normal, #003F62);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2.5px 0 2.5px 23px;
    height: 100%;
    box-sizing: border-box;
  }
  .kerusakan .logo {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 107px;
    height: 90px;
    box-sizing: border-box;
  }
  .kerusakan .logo-removebg-preview-1 {
    background: url('../assets/images/logoRemovebgPreview1.png');
    width: 107px;
    height: 90px;
  }
  .kerusakan .group-11037 {
    bottom: 80px;
    border-radius: 48px;
    position: relative;
    margin: 14px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1px;
    width: 557.8px;
    left: 120px;
    height: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .search {
    border-radius: 48px;
    border: 1px solid var(--gray-200, #B3B3B3);
    background: var(--white, #FFFFFF);
    position: absolute;
    left: 0px;
    top: -4px;
    padding: 17.8px 0 17.8px 14.3px;
    width: 557.5px;
    height: 61.5px;
    box-sizing: border-box;
  }
  .kerusakan .leading-icon {
    margin: 3.3px 15.3px 3.3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 17.5px;
    height: 17.5px;
    box-sizing: border-box;
  }
  .kerusakan .vector {
    width: 17.5px;
    height: 17.5px;
  }
  .kerusakan .search-1 {
    overflow-wrap: break-word;
    font-family: var(--android-body-1-font-family, 'Balsamiq Sans');
    font-weight: var(--android-body-1-font-weight, 400);
    font-size: var(--android-body-1-font-size, 16px);
    line-height: var(--android-body-1-line-height, 1.5);
    color: var(--gray-100, #666666);
  }
  .kerusakan .search-2 {
    top: -4px;
  }
  .kerusakan .primary-button-1 {
    top: -4px;
    border-radius: 48px;
    background: var(--foundation-yellow-normal, #EDA415);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18.5px 0.4px 18.5px 0;
    width: 148.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .kerusakan .buka-toko {
    overflow-wrap: break-word;
    font-family: var(--heading-02-font-family, 'Poppins');
    font-weight: var(--heading-02-font-weight, 700);
    font-size: var(--heading-02-font-size, 16px);
    color: var(--foundation-primary-normal-1, #FEFEFE);
  }
  .kerusakan .frame-108 {
    margin: 1.6px 0 0px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .kerusakan .cart-3 {
    margin-right: 14.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 32.8px;
    height: 26.3px;
    box-sizing: border-box;
  }
  .kerusakan .vector-stroke {
    width: 32.8px;
    height: 26.3px;
  }
  .kerusakan .keranjang {
    margin: 0.8px 0 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--body-17-bold-font-family, 'Open Sans');
    font-weight: var(--body-17-bold-font-weight, 700);
    font-size: var(--body-17-bold-font-size, 17px);
    color: #FFFFFF;
  }
  .kerusakan .frame-106 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .kerusakan .box {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 27px;
    height: 27.9px;
    box-sizing: border-box;
  }
  .kerusakan .vector-111-stroke {
    width: 27px;
    height: 27.9px;
  }
  .kerusakan .pesanan {
    margin: 2.4px 0 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--body-17-bold-font-family, 'Open Sans');
    font-weight: var(--body-17-bold-font-weight, 700);
    font-size: var(--body-17-bold-font-size, 17px);
    color: #FFFFFF;
  }
  .kerusakan .button-store {
    border-radius: 10px;
    background: #EDA415;
    position: relative;
    margin-right: 20px;
    width: 131.5px;
    height: 44px;
  }
  .kerusakan .union {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 23px;
    height: 21px;
  }
  .kerusakan .buka-toko-1 {
    position: absolute;
    right: 14.2px;
    bottom: 11px;
    overflow-wrap: break-word;
    font-family: var(--body-14-md-font-family, 'Poppins');
    font-weight: var(--body-14-md-font-weight, 500);
    font-size: var(--body-14-md-font-size, 14px);
    color: #FFFFFF;
  }
  .kerusakan .button-user {
    border-radius: 10px;
    background: #EDA415;
    position: relative;
    width: 111px;
    height: 44px;
  }
  .kerusakan .person-circle {
    position: absolute;
    left: 10px;
    bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 21px;
    height: 20px;
    box-sizing: border-box;
  }
  .kerusakan .union-1 {
    width: 21px;
    height: 20px;
  }
  .kerusakan .redhariz {
    position: absolute;
    right: 15.3px;
    bottom: 11px;
    overflow-wrap: break-word;
    font-family: var(--body-14-md-font-family, 'Poppins');
    font-weight: var(--body-14-md-font-weight, 500);
    font-size: var(--body-14-md-font-size, 14px);
    color: #FFFFFF;
  }
  .kerusakan .buka-toko-2 {
    overflow-wrap: break-word;
    font-family: var(--heading-02-font-family, 'Poppins');
    font-weight: var(--heading-02-font-weight, 700);
    font-size: var(--heading-02-font-size, 16px);
    color: var(--foundation-primary-normal-1, #FEFEFE);
  }
  .kerusakan .container {
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: var(--foundation-primary-normal, #312D48);
  }
  .kerusakan .jl-dahlia-blok-j-5-no-32 {
    overflow-wrap: break-word;
    font-family: var(--body-01-font-family, 'Poppins');
    font-weight: var(--body-01-font-weight, 500);
    font-size: var(--body-01-font-size, 14px);
    color: var(--foundation-primary-p-300, #265073);
  }
  .kerusakan .container-1 {
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: var(--foundation-primary-normal, #312D48);
  }
  .kerusakan .redhagmail-com {
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: var(--foundation-primary-normal, #312D48);
  }
  .kerusakan .notelp {
    padding: 15px 0px 0px 0px;
    overflow-wrap: break-word;
    font-family: var(--body-14-rg-font-family, 'Poppins');
    font-weight: var(--body-14-rg-font-weight, 400);
    font-size: var(--body-14-rg-font-size, 14px);
    color: var(--foundation-primary-normal, #312D48);
  }